
/* styles.css */

/* Estilos para el cuerpo y la tipografía */
body {
    font-family: Arial, sans-serif;
    font-family: "roboto";
    margin: 0;
    padding: 0;
    align-items: center;
    text-align: center;
  }
  
 /* Estilos para el título "Productos" */
h1 {
  display: flex; /* Cambia el comportamiento del elemento a flex */
  justify-content: center; /* Centra el contenido horizontalmente */
  align-items: center; /* Centra el contenido verticalmente */
  height: 100px; /* Altura del contenedor para centrar verticalmente */
}



  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #202020;
    color: #fff;
    padding: 10px;
    text-align: center;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  nav ul li h1{

    text-align: center;
  }
  /* Estilos para la lista de productos */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  ul li {
    flex: 0 0 calc(25% - 20px); /* Tamaño de cada producto */
    margin: 10px;
    border: 1px solid #fffefe;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
  }
  
  /* Estilos para las imágenes de los productos */
/* Estilos para las imágenes de los productos */
ul li img {
  order:initial;
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
  
}

ul li::after {
  background-color: rgb(88, 88, 88);
}

     
    img:hover {
      transform: scale(1.1); /* Cambia el tamaño de la imagen al 110% */
      transition: transform 0.3s ease; /* Agrega una transición suave */
    }
  /* Estilos adicionales para los productos (nombre, precio, etc.) */
  ul li h2 {
    margin-top: 5PX;
    font-size: 15px;
  }
  
  ul li p {
    margin-bottom: 0;
    font-size: 12px;
  }
 
  
  


  /* Estilos para el boton */

  .button {
    /* Estilos para el botón */
    margin-top: 10px;
    background-color: #ffffff; /* Color de fondo */
    color: #000000; /* Color del texto */
    padding: 10px 20px; /* Espacio interno */
    border: black 2px solid; /* Borde */
    border-radius: 25px; /* Borde redondeado */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    text-decoration: none; /* Quitar subrayado del texto */
    font-size: 12px; /* Tamaño de la fuente */
}

.button:hover {
    /* Estilos cuando se pasa el ratón por encima */
    background-color: #000000; /* Cambio de color de fondo */
   color: rgb(255, 255, 255);
}





