
/* styles.css */

/* Estilos para el cuerpo y la tipografía */
body {
    font-family: Arial, sans-serif;
    font-family: "roboto";
    margin: 0;
    padding: 0;
    align-items: center;
  }
  
  h1 {
    text-align: center;
    display: flex;
    font-size: 2em;
    align-items: center;

  }
  
  /* Estilos para la barra de navegación */
  nav {
    background-color: #202020;
    color: #fff;
    padding: 10px;
    text-align: center;

  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para la lista de productos */
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centra los elementos horizontalmente */
  }
  
  ul li {
    flex: 0 0 calc(25% - 20px); /* Tamaño de cada producto */
    margin: 10px;
    border: 1px solid #fffefe;
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    
  }
  
  /* Estilos para las imágenes de los productos */
/* Estilos para las imágenes de los productos */
ul li img {
  margin-top: 10px;
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

ul li::after {
  background-color: rgb(88, 88, 88);
}

     
    img:hover {
      transform: scale(1.1); /* Cambia el tamaño de la imagen al 110% */
      transition: transform 0.3s ease; /* Agrega una transición suave */
    }
  /* Estilos adicionales para los productos (nombre, precio, etc.) */
  ul li h2 {
    margin-top: 0;
  }
  
  ul li p {
    margin-bottom: 0;
  }
  /* Estilos para los enlaces */
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  


